body
{
	overflow-x:hidden;
	position: relative;
	min-width: 200px;

	font-family: __Roboto_5, Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;/* kerning, primarily */
}
html
{
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,nav,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
	margin: 0;
	padding: 0;
	border-width: 0;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
}


a:link
{
	color: #9EB247;
	text-decoration: none;
}

a:visited
{
	color: #7B8942;
	text-decoration: underline;
}

a:hover
{
	color: #9EB247;
	text-decoration: underline;
}

a:active
{
	color: #204C86;
	text-decoration: underline;
}

a.nontext /* used to override default properties of 'a' tag */
{
	color: black;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}

.jumbotron
{
   margin-top:160px; 
   margin-bottom:160px; 

   background-color: #F1F1F1;
}

/* navbar */
.navbar-default {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
    padding-top: 100px;
    z-index: 10000;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
    margin-top:-80px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
    font-family: '__Roboto_5';
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #204C86;
    font-family: '__Roboto_5';
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9EB247;
    font-family: '__Roboto_5';
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #9EB247;
    background-color: #E7E7E7;
    
    font-family: '__Roboto_5';
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
    
    font-family: '__Roboto_5';
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
    
    font-family: '__Roboto_5';
}


/* Some basic setups for the fonts */

.cads_footer_contact_menu
{
    /* margin-bottom: 100px;*/
    float:right;
    position: relative;
    top: -40px;
}

.cads_footer_contact_me
{
    /* margin-bottom: 100px;*/
    max-height: 10px;
    text-align:center;
    color: #FFFFFF;
    border-radius: 10px;
    border-bottom-color: #FFFFFF
    	
}
.cads_footer_contact_me a:link
{
    color:#FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    border-bottom-color: #FFFFFF
}
.cads_footer_contact_me a:hover
{
    color:#FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    border-bottom-color: #FFFFFF;
}

.cads_footer_impressum
{
    /* margin-bottom: 100px;*/
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10px;
    	
}
.cads_footer_impressum a
{
    color:#FFFFFF;
    text-decoration: none;
    text-align: left;
    position: absolute;
    right: 0px;
}

.cads_footer_hide
{
    /* margin-bottom: 100px;*/
    text-align:center;
    color: #FFFFFF;
    border-radius: 10px;
    	
}

.cads_footer_hide a:link
{
    color:#FFFFFF;
    text-align:center;
    text-decoration: none;
    border-radius: 10px;
}

.cads_footer_text
{
 	background-color: #204C86;   
    color: #FFFFFF;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #204C86;

    	 
}

.cads_footer_text_down
{
	background-color: #204C86;  
	border-color: #FFFFFF;
	border-width: 2px:
 	bottom:-10px;
}


.cads_hide {
    display: none !important;
}

#cads_toggle_footer
{
	z-index:1000000;
}

.cads_footer_bold {
    font-weight: bold;
	font-family: '__Roboto_5';
}


.cads_facebook
{
	background-color: #FFFFFF;  
	color: #FFFFFF;
	border-width: 2px;
	border-radius: 20px;
}
.cads_facebook a
{
	background-color: #B0C4DE;  
	color: #FFFFFF;
	padding: 10px;
	
	font-size: 17px;
	font-weight: 400;
	border-radius: 10px;
	border-width: 2px;
	line-height: 22px;
	border-color: #204C86;  
	font-weight: bold;
	font-family: '__Roboto_5';	

}
.cads_facebook a:hover
{
	background-color: #204C86;  
	color: #FFFFFF;
	margin-left: -50;
	padding: 10px;
	font-size: 17px;
	font-weight: 400;
	border-radius: 10px;
	border-width: 50px;
	border-color: #204C86;  
	line-height: 22px;
	text-decoration: none;
	font-family: '__Roboto_5';
	font-weight: bold;

}
.cads_no_decoration
{
	text-decoration: none;
}

.cads_full_sized
{
	width: 100%;
}

.cads_space_header 
{

	vertical-align: middle;
	background-color: #B0C4DE;  
	color: #FFFFFF;
	height: 30px;
	font-size: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: bold;
	font-family: '__Roboto_5';	
	text-align: center;

}

.no-touch .cads_space_header td:hover
{
	background-color: #204C86;
	border-radius: 10px;
}
.no-touch .cads_space_header td
{
	background-color: #B0C4DE;
}

.cads_space_header a
{
	color: #FFFFFF;
	font-size: 16px;
	font-family: '__Roboto_5';	*/
	text-align: center;
	text-decoration: none;	
}


.cads_header_bold
{
	font-family: '__Roboto_5';
	font-weight: bold;
}

.cads_flie-text
{
	font-family: '__Roboto_5';
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 0px;
	display: inline;
}

.cads_normal_text
{
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	vertical-align: 0px;
	padding: 0px;
}
.cads_bodybild
{
	min-width: 220px;
	max-height: 280px;
	height: auto;
   	margin-top: -100px; 
   	margin-bottom:10px;
   	font-family: '__Roboto_5';	

}
.cads_bodytext
{
   min-width: 350px;
   margin-bottom:80px; 
   padding-left: 40px;
   padding-right: 20px;
   text-align: justify;
   padding-bottom:  20px;
   font-family: '__Roboto_5';
}
.cads_headline_h1
{
	color: #204C86;
	text-align: left;
	font-family: '__Roboto_5';
	font-size: 30px;
	padding: 0px;
	font-weight: bold;
}
.cads_headline_h2
{
	color: #204C86;
	text-align: left;
	font-family: '__Roboto_5';
	font-size: 24px;
	padding: 0px;
	font-weight: normal;
}
.cads_headline_h3
{
	color: #204C86;
	text-align: left;
	font-family: '__Roboto_5';
	font-size: 18px;
	padding: 0px;
	font-weight: bold;
}

.cads_headline_h4
{
	color: #000000;
	text-align: left;
	font-family: '__Roboto_5';
	font-size: 16px;
	padding: 0px;
	font-weight: bold;
}
.cads_greeting
{
    color: #9EB247;
	font-family: '__Roboto_5';
	font-size: 20px;
	font-weight: bold;
}

.cads_twitter_frame_space
{
	min-width: 200;
	width: 320px;
	padding-right: 80px;
}

.cads_goals_format 
{
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;	
}
.cads_goals_format ul ul
{
	margin-left: 20px;
	font-weight: normal;
}
.verticalspace
{
	clear: both;
}

.cads_logo
{
	  position: absolute;
	  top: 70px;
	  margin-left: 10%;
	  z-index: 10001;
}
.cads_center
{
	text-align: center;
}

#cads_goals_text,
#cads_member_text
{
	 display:none;
}

.cads_space_creator
{
	padding: 2%;	
}
/* Some basic setups for the fonts */

@font-face
{
	font-family: '__Roboto_5';
	src: url('fonts/roboto-bold-webfont.eot');
	src: local('☺'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto Condensed_3';
	src: url('fonts/robotocondensed-bold-webfont.eot');
	src: local('☺'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff'), url('../fonts/robotocondensed-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('fonts/roboto-light-webfont.eot');
	src: local('☺'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}