<div class="row">
    
    <div class="col-xs-2">
    </div>


<div class="col-xs-8 cads_bodytext">
<br/>
<br/>
<br/>
<br/>

  <h1 class="cads_headline_h2">Current Projects</h1>
  <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">
                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_loomo_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_iot_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Loomo </div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class="">
                     <div class="cads_goals_text" id="cads_loomo_text">
                        <p class="cads_flie-text">
                            Der Segway Loomo ist ein fortschrittliches, selbstbalancierendes Fahrzeug, das mit einer Vielzahl von Funktionen ausgestattet ist, welche es weit über die traditionelle Nutzung eines persönlichen Transportmittels hinausheben. In der Robotik repräsentiert Loomo eine innovative Schnittstelle zwischen Mobilität und intelligenter Automatisierung, indem er sowohl als Fortbewegungsmittel für den Einzelnen als auch als autonomer Roboter fungiert.
<br/>
Im Kontext der Robotik dient Loomo als anschauliches Beispiel für die Integration von Sensortechnologie, maschinellem Lernen und Interaktionsdesign. Ausgestattet mit einer Reihe von Sensoren, darunter Kameras und Ultraschallsensoren, ist Loomo in der Lage, seine Umgebung zu erkennen und zu interpretieren. Diese Fähigkeit zur Umgebungserkennung ist fundamental für autonome Navigationsaufgaben und ermöglicht Loomo, Hindernissen auszuweichen und sich sicher in komplexen Umgebungen zu bewegen.
<br/>
In Bezug auf kooperative Problemlösung kann Loomo in verschiedenen Szenarien eingesetzt werden. Beispielsweise könnte Loomo in Bildungseinrichtungen als interaktives Lehrmittel verwendet werden, um Konzepte der Robotik, Programmierung und künstlichen Intelligenz zu vermitteln. Durch praktische Erfahrungen mit Loomo können Lernende die Grundlagen der Robotik erforschen, einschließlich Sensorik, Steuerung und autonomer Navigation.
<br/>
In industriellen oder kommerziellen Umgebungen könnte Loomo Aufgaben übernehmen, die eine gewisse Mobilität und Interaktionsfähigkeit erfordern, wie beispielsweise die Zustellung von Dokumenten oder kleinen Paketen innerhalb eines Bürogebäudes. Durch die Programmierung spezifischer Routen und Aufgaben kann Loomo dazu beitragen, Arbeitsabläufe zu optimieren und die Effizienz zu steigern.
<br/>
Darüber hinaus kann Loomo in der Forschung als Plattform für experimentelle Studien im Bereich der Mensch-Roboter-Interaktion dienen. Durch die Anpassung seines Verhaltens und seiner Interaktionsmodi können Forscher untersuchen, wie Menschen auf die Anwesenheit und das Verhalten eines autonomen Roboters reagieren und wie diese Interaktionen verbessert werden können, um eine natürlichere und effektivere Zusammenarbeit zwischen Menschen und Robotern zu fördern.
                        </p>
                         <br/><br/>
                         <iframe width=100% height=120% src="https://youtu.be/aD96NDa817w" frameborder="0" allowfullscreen></iframe>

                        <p class="cads_flie-text">
                            <br/><br/>
                            Contact: Martin Becke
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>



  <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">
                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_cs4f_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_iot_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">CS4F Nachhaltigkeitslabor </div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class="">
                     <div class="cads_goals_text" id="cads_cs4f_text">
                        <p class="cads_flie-text">
Das Department Informatik initiiert einen nachhaltigen Veränderungsprozess, um den Herausforderungen des Klimaschutzes und der Nachhaltigkeit gerecht zu werden. Im Mittelpunkt dieses Prozesses steht die Integration von nachhaltigen Prinzipien und Klimaschutzideen in das Curriculum, die Zusammenarbeit mit Industrie und Gesellschaft, die Forschung und die organisatorischen Strukturen. Ziel ist es, nicht nur die Auswirkungen der Informatik auf die Umwelt zu minimieren, sondern aktiv interdisziplinäre Lösungen für globale Herausforderungen zu entwickeln und somit eine echte Verantwortung für den Planeten zu übernehmen.
<br/>
Das Konzept des Nachhaltigkeitslabors für die Informatik spiegelt diesen Ansatz wider, indem es einen Raum für Innovation und Forschung bietet, der darauf ausgerichtet ist, nachhaltige Technologien und Methoden zu erforschen und zu entwickeln. Die Lehre spielt dabei eine zentrale Rolle, da sie die Grundlage für das Bewusstsein und das Verständnis von Nachhaltigkeit in der Technologie bildet. Durch die enge Verzahnung mit der Forschung werden Lehrinhalte kontinuierlich aktualisiert und mit innovativen Lösungsansätzen angereichert.
<br/>
Um Flexibilität und Reaktionsfähigkeit auf aktuelle und zukünftige Herausforderungen zu gewährleisten, wird der Veränderungsprozess agil gestaltet. Durch regelmäßige Diskussionen, Maßnahmen und Retrospektiven innerhalb des gesamten Departments und über alle Statusgruppen hinweg wird sichergestellt, dass der Prozess lebendig bleibt und sich kontinuierlich weiterentwickelt. Dieser ganzheitliche Ansatz ermöglicht es, sowohl in großem als auch in kleinem Rahmen Veränderungen herbeizuführen und somit einen nachhaltigen Einfluss auf die Lehre, die Forschung und die Organisation des Departments Informatik zu nehmen.

                 </p>
                         <br/><br/>
                        <p class="cads_flie-text">
                            <br/><br/>
                            Contact: Martin Becke
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>


<!--/div>

    <div class="col-xs-8 cads_bodytext" -->




        <br/>
         <h1 class="cads_headline_h2">Old Projects</h1>
        <p class="cads_flie-text"> 
            Projects are in alphabetical order. All projects are open source. If you are interested to know about  other (industrial) projects we are/were involved please let us know...
        </p>
        <br/><br/>
<!-- CLARC  -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_iot_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_iot_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">CLARC - The IoT project</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_iot_text">
                        <p class="cads_flie-text">
                            This is a IoT project of the CaDS group. Our goal is to create a free, open source IoT platform. 
                            We address a platform outside a walled garden with easy deployment on IoT devices. 
                            Watch this video about alternative projects we want improve or extend with our work.
                        </p>       
                         <br/><br/>   
                         <iframe width=100% height=120% src="https://www.youtube.com/embed/BdKL5ah2xrE" frameborder="0" allowfullscreen></iframe> 
                
                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/Transport-Protocol/SmartChair/wiki/Chair-Assembly-Instructions" target="_blank">CLARC IoT Device</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>   
              
<!-- FREEBSD SCTP -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_sctp_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_sctp_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">FreeBSD SCTP</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_sctp_text">
                        <p class="cads_flie-text">
                        It is the reference implementation for SCTP.
                        It is portable and runs on FreeBSD/MAC-OS/Windows and in User Space (including Linux). 
                        It is full featured and offers all of the features found in the SCTP RFC's as well as some new drafts. 
                        It is actively maintained by many of the draft and RFC authors.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/sctplab/sctp-refimpl" target="_blank">FreeBSD SCTP</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
        
        
<!-- Homer -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_homer_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_homer_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Homer</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_homer_text">
                        <p class="cads_flie-text">
                        Homer Conferencing (short: Homer) is a free SIP spftphone with advanced audio and video support. 
                        The Software is available for Windows, Linux and OSX. Homer was originally developed as tool for video conferences. 
                        Over the years the functions were extended for additional application areas. Therefore, the basic functions can be separated into the following 4 areas:
                        </p>
                        <br/><br/>
                        <div class=" cads_flie-text">
                             <table class="">
                                 <tr><td class=""> </td>
                                     <td class=""> 
                                            <li> video conferencing</li>
                                            <li> streaming</li>
                                            <li> recording</li>
                                            <li> screencasting</li>
                                     </td>
                                 </tr>
                            </table>
                            <br/>
                        </div>

                        <p class="cads_flie-text">
                            It is maintained by Thomas Volkert. Our work is the extension of the network stack.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="http://www.homer-conferencing.com/en/index.html" target="_blank">Homer</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  

       
<!-- Nephila  -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_nephila_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_nephila_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Nephila (deprecated)</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_nephila_text">
                        <p class="cads_flie-text">
                        An open source framework for Websocket Communication outside the (secure) browser.
                        Project and its activity maintained by Philipp Tarasiewicz and us
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/justphil/nephila-websocket-client/" target="_blank">Nephila</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>   
<!-- Netperfmeter -->    
        <table class="cads_full_sized">
            <tr class="cads_space_header cads_full_sized">
                <td class="cads_full_sized">

                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_netperfmeter_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_netperfmeter_text').offset().top)-200},500);});}; void(0);">
                           <div class="cads_full_sized">Netperfmeter</div>
                        </a>
                    </div>

                </td>
            </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class="">
                    <div class="cads_goals_text" id="cads_netperfmeter_text">


                        <p class="cads_flie-text">
                             NetPerfMeter is a network performance meter for the UDP, TCP, SCTP and DCCP transport protocols over IPv4 and IPv6. 
                             It simultaneously transmits bidirectional flows to an endpoint and measures the resulting flow bandwidths and QoS. 
                             The results are written as vector and scalar files. 
                             The vector files can e.g. be used to create plots of the results. 
                             It is available on different platforms and is actively maintained by Thomas Dreibholz. 
                             Our role is testing, write extensions and general scripting.
                        </p>


                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="http://www.iem.uni-due.de/~dreibh/netperfmeter/" target="_blank">Netperfmeter</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
        
<!-- Omnet++/INET -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_omnet_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_omnet_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Omnet++/INET</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_omnet_text">
                        <p class="cads_flie-text">
                        OMNeT++ is an extensible, modular, component-based C++ simulation library and framework, 
                        primarily for building network simulators. 
                        I have also worked on the SCTP Model and prepare a MPTCP Model. 
                            CaDS Group head is selected as OMNeT++/INET Component Advisor.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="hhttp://www.omnetpp.org/" target="_blank">Omnet++/INET</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
      
<!--></-->   
        
    </div>

    <div class="hidden-xs col-xs-2">
    </div>
</div>
