

<div id="cads_toggle_footer"  class="navbar navbar-fixed-bottom cads_footer_text cads_hide ">
    <div class="container-fluid ">
        <div class="">
            <div>
                <p>&nbsp;</p>
                <p><span class="cads_footer_bold">CaDS</span> · communication and distributed systems</p>
                <p>&nbsp;</p>
                <p>CONTACT</p>
                <p class="cads_footer_bold">Prof. Dr. Martin Becke</p>
                <p>&nbsp;</p>
                <p>Room 7.85&nbsp; ·&nbsp; Berliner Tor 7</p>
                <p>20099 Hamburg&nbsp; ·&nbsp; Germany</p>
            </div>
            <div class="cads_footer_contact_menu" >
                <a href="mailto:Martin%20Becke%20%3CMartin.Becke@HAW-Hamburg.de%3E"><!-- image -->
                    <img src="../images/contact.png" alt="" width="40" height="40"/>
                </a>
                &nbsp;
                <a href="https://www.facebook.com/CADS.HAW.HAMBURG" target="_blank"><!-- image -->
                    <img src="../images/facebook.png" alt="" width="40" height="40"/>
                </a>
                &nbsp;
                <a href="https://twitter.com/CADS_HAW" target="_blank"><!-- image -->
                    <img src="../images/twitter.png" alt="" width="40" height="40"/>
                </a>
            </div>
        </div>
            <div class="cads_footer_hide cads_footer_impressum">
              <br/>
               <a routerLink="impressum" href="#">Impressum</a>
            </div>
    </div>
    <hr />
    <div class="cads_footer_hide">
       <a href="javascript:cads_toggle_footer();">HIDE CONTACT INFO</a>
   </div>
</div>
<div class=" navbar navbar-fixed-bottom cads_footer_text cads_footer_text_down">
<div class="cads_footer_contact_me cads_footer_bold">
    <br/>
    <a href="javascript:cads_toggle_footer();">CONTACT</a>
</div>
</div>