<div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8 cads_bodytext">
        <br/>
        <div>
            <h1 class="cads_headline_h2">Publications</h1> (2010 until now)
            <br/>
            <br/>
            <!-- Journal -->
            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_journal_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_journal_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Journals</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>
            <br/>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_journal_text">
                            <p class="cads_flie-text">

                                <p class="Aufzaehlung"><em class="bold">Real Time Communications in the WEB, </em>
                                    <br/>Weinrank F.; <em class="bold">Becke, M.</em>; Flohr, J.; Rathgeb, E.P.; Rungeler, I.; Tuxen, M.; ,&nbsp;
                                    <br/><em class="kursiv">IEEE Communications Standards Magazine</em> (Comstd) , vol.2, no.2, pp.28,35,
                                    <br/>doi: 10.1109/MCOMSTD.2017.1700007
                                    <br/>July 2017
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/abstract/document/7992925/" target="_blank">&gt;&gt; WebRTC Data Channels</a></p>

                                <p class="Aufzaehlung"><em class="bold">Data channel considerations for RTCWeb, </em>
                                    <br/><em class="bold">Becke M.;</em> Rathgeb, E.P.; Werner, S.; Rungeler, I.; Tuxen, M.; Stewart, R.,&nbsp;
                                    <br/><em class="kursiv">IEEE Communications Magazine</em> (Commag) , vol.51, no.4, pp.34,41,
                                    <br/>doi: 10.1109/MCOM.2013.6495758
                                    <br/>April 2013
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6495758&amp;isnumber=6495745" target="_blank">&gt;&gt; Data channel considerations for RTCWeb</a></p>

                                <p class="Aufzaehlung"><em class="bold">On the Security of Reliable Server Pooling Systems</em>
                                    <br/>Dreibholz, T.; Zhou, X.; <em class="bold">Becke, M.;</em> Pulinthanath, J.; Rathgeb, E. P.; Du, W.:
                                    <br/><em class="kursiv">International Journal on Intelligent Information and Database Systems (IJIIDS)</em>
                                    <br/>vol. 4, no. 6, pp. 552–578, ISSN 1751&#45;5858
                                    <br/>December 2010
                                    <br/><a class="nonblock" href="http://dx.doi.org/10.1504/IJIIDS.2010.036894"><em class="bold" id="u320-33">&gt;&gt; On the Security of Reliable Server Pooling Systems</em></a></p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>

            <!-- Conference paper -->
            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_conference_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_conference_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Conference papers</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_conference_text">
                            <p class="cads_flie-text">

                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Blind Packet Forwarding in a Hierarchical Architecture with Locator/Identifier Split</em>
                                    <br/>Simsek, Irfan; <em class="bold">Becke, Martin;</em>; Jerschow, Yves Igor; E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the 2014 5th International Conference on Network of the Future (NoF)<br/></em> Paris, France &#45; Dec 2014
                                    <br/> <a class="nonblock" href="https://www.tdr.wiwi.uni-due.de/fileadmin/fileupload/I-TDR/Forschung/nof2014.pdf" target="_blank">&gt;&gt; Blind Packet Forwarding in a Hierarchical Architecture with Locator/Identifier Split</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Comparison of Multipath TCP and CMT&#45;SCTP based on Intercontinental Measurements<br/>M. Becke</em>; H. Adhari; E. P. Rathgeb; Xing&nbsp; Zhou; Fu Fa; Xiong Yang
                                    <br/><em class="kursiv">Proceedings of the IEEE Global Communications Conference (GLOBECOM 2013)<br/></em>Atlanta, GA, USA &#45; Dec 2013
                                    <br/> <a class="nonblock" href="http://ieeexplore.ieee.org/xpl/abstractAuthors.jsp?reload=true&arnumber=6831263" target="_blank">&gt;&gt; Comparison of Multipath TCP and CMT&#45;SCTP based on Intercontinental Measurements</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• A Clean&#45;Slate Security Vision for Future Networks<br/></em>I. Simsek; <em class="bold">M. Becke</em>; Y. I. Jerschow; E. P. Rathgeb;
                                    <br/><em class="kursiv">Proceedings of the 4th International Conference on Network of the Future</em> (NoF'13)
                                    <br/>Pohang, Korea &#45; Oct 2013 (Best Paper)
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6724501" target="_blank">&gt;&gt; A Clean&#45;Slate Security Vision for Future Networks</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Alternative Transmission Strategies for Multipath Transport of Multimedia Streams <br/>over Wireless Networks<br/>M. Becke</em>; A. Bayer; M. Packeiser; E. P. Rathgeb; T. Dreibholz,
                                    <br/><em class="kursiv">Proceedings of the IEEE Contel 2013</em>
                                    <br/>Zagreb, Croatia &#45; June 2013
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6578283">&gt;&gt; Alternative Transmission Strategies for Multipath Transport of Multimedia Streams <br/>over Wireless Networks</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• On the Fairness of Transport Protocols in a Multi&#45;Path Environment<br/>M. Becke</em>, T. Dreibholz, H. Adhari, E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the IEEE ICC 2012<br/></em>Ottawa, Canada &#45; June 2012
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6363695&amp;isnumber=6363631">&gt;&gt; On the Fairness of Transport Protocols in a Multi&#45;Path Environment</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• A Future Internet Architecture supporting Multipath Communication Networks<br/>M. Becke</em>, H. Adhari, T. Dreibholz, E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the IEEE/IFIP NOMS 2012</em>
                                    <br/>Hawaii, USA &#45; April 2012</p>
                                <p class="Aufzaehlung"><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6211975&amp;isnumber=6211874" target="_blank">&gt;&gt; A Future Internet Architecture supporting Multipath Communication Networks</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">•Evaluation of A New Multipath Congestion Control Scheme using the NetPerfMeter Tool&#45;Chain<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>, H. Adhari, E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the IEEE Softcom 2011<br/></em>ISBN: 978&#45;953&#45;290&#45;027&#45;9
                                    <br/>Split&#45;Dubrovnik, Croatian &#45; September 2011
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6064378&amp;isnumber=6064354">&gt;&gt; Evaluation of A New Multipath Congestion Control Scheme using the NetPerfMeter Tool&#45;Chain</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• On the Impact of Congestion Control for Concurrent Multipath Transfer on the Transport Layer<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>, H. Adhari, E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the IEEE Contel 2011<br/></em>ISBN: 978&#45;953&#45;184&#45;152&#45;8
                                    <br/>Graz, Austria – June 2011
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=5969964&amp;isnumber=5969393" target="_blank">&gt;&gt; On the Impact of Congestion Control for Concurrent Multipath Transfer on the Transport Layer</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Evaluating a Future Internet Cross&#45;Layer Composition Prototype<br/></em>J. Mueller, A. Siddiqui, M<em class="bold">. Becke</em>, M. Kleis
                                    <br/><em class="kursiv">Proceedings of the Tridentcom 2011</em>
                                    <br/>ISBN: 978&#45;1&#45;936968&#45;04&#45;6
                                    <br/>Changhai, China – April 2011
                                    <br/><a class="nonblock" href="http://dx.doi.org/10.1007/978-3-642-29273-6_2" target="_blank">&gt;&gt; Evaluating a Future Internet Cross&#45;Layer Composition Prototype</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Link Emulation on the Data Link Layer in a Linux&#45;based Future Internet Testbed Environment<br/>M. Becke</em>, T. Dreibholz, E. P. Rathgeb, J. Formann
                                    <br/><em class="kursiv">Proceedings of the The Tenth International Conference on Networks <br/></em>ISBN: 978&#45;953&#45;290&#45;004&#45;0
                                    <br/>St. Maarten &#45; January 2011
                                    <br/><a class="nonblock" href="http://www.thinkmind.org/index.php?view=article&amp;articleid=icn_2011_5_10_10070" target="_blank">&gt;&gt; Link Emulation on the Data Link Layer in a Linux&#45;based Future Internet Testbed Environment</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• On the Use of Concurrent Multipath Transfer over Asymmetric Paths<br/></em>T. Dreibholz , <em class="bold">M. Becke</em>, E.P. Rathgeb and M.Tüxen
                                    <br/><em class="kursiv">Proceedings of the IEEE Global Communications Conference (GLOBECOM 2010)</em>
                                    <br/>ISBN: 978&#45;1&#45;4244&#45;5637&#45;6
                                    <br/>Miami, Florida/USA – December 2010
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=5683579&amp;isnumber=5683069" target="_blank">&gt;&gt; On the Use of Concurrent Multipath Transfer over Asymmetric Paths</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Applying TCP&#45;Friendly Congestion Control to Concurrent Multipath Transfer<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>, J. Pulinthanath and E. P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the 24th IEEE International Conference on Advanced Information Networking<br/>and Applications (AINA)<br/></em>ISSN: 1550&#45;445X
                                    <br/>Perth Australia &#45; 2010
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=5474713&amp;isnumber=5474664" target="_blank">&gt;&gt; Applying TCP&#45;Friendly Congestion Control to Concurrent Multipath Transfer</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• The Software Modeling and Implementation of Reliable Server Pooling and RSPLIB<br/></em>X. Zhou, T. Dreibholz, M<em class="bold">. Becke</em>, J. Pulinthanath, E. P. Rathgeb and W. Du
                                    <br/><em class="kursiv">Proceedings of the 8th ACIS Conference on Software Engineering Research, Management <br/>and Applications (SERA)<br/></em>ISBN: 978&#45;0&#45;7695&#45;4075&#45;7
                                    <br/>Montreal, Canada &#45; May 2010
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=5489104&amp;isnumber=5489073" target="_blank">&gt;&gt;The Software Modeling and Implementation of Reliable Server Pooling and RSPLIB</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <!-- Workshops -->
            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_workshop_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_workshop_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Workshop papers</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_workshop_text">
                            <p class="cads_flie-text">

                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Multipath Video Streaming based on Hierarchical Routing Management<br/></em>Volkert, T.; <em class="bold">Becke, M</em>.; Osdoba, M.; Mitschele&#45;Thiel, A.
                                    <br/><em class="kursiv">3nd International Workshop on Protocols and Applications with Multi&#45;Homing Support (PAMS),</em>
                                    <br/>Held in conjunction with IEEE AINA 2013
                                    <br/>Barcelona, Catalonia/Spain, März 2013.
                                    <br/>&#45; link open</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Homer Conferencing &#45; A Multimedia Test Bed for various Experiments and Measurements</em>
                                    <br/>Volkert T.; <em class="bold">Becke M.</em>; Osdoba M.; Mitschele&#45;Thiel A.:
                                    <br/><em class="kursiv">7th International Conference on Computing and Convergence Technology (ICCCT), </em>
                                    <br/>Seoul, Korea, Dezember 2012.
                                    <br/>&#45; link open</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Simulation and Experimental Evaluation of Multipath Congestion Control Strategies<br/></em>T. Dreibholz , H. Adhari, M. Becke, E. P. Rathgeb
                                    <br/><em class="kursiv">2nd International Workshop on Protocols and Applications with Multi&#45;Homing Support (PAMS),</em>
                                    <br/>Held in conjunction with IEEE AINA 2012
                                    <br/>Fukuoka/Japan &#45; March 2012
                                    <br/><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=6185398&amp;isnumber=6185080" target="_blank">&gt;&gt; Simulation and Experimental Evaluation of Multipath Congestion Control Strategies</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Evaluation of Concurrent Multipath Transfer over Dissimilar Paths<br/></em>H. Adhari, T. Dreibholz, <em class="bold">M. Becke</em>, E. P. Rathgeb, M. Tüxen
                                    <br/><em class="kursiv">1st International Workshop on Protocols and Applications with Multi&#45;Homing Support (PAMS),<br/></em>Held in conjunction with IEEE AINA 2013,
                                    <br/>ISBN: &quot;978&#45;0&#45;7695&#45;4338&#45;3
                                    <br/>Singapore, March 2011</p>
                                <p class="Aufzaehlung"><a class="nonblock" href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&amp;arnumber=5763587&amp;isnumber=5763390" target="_blank">&gt;&gt; Evaluation of Concurrent Multipath Transfer over Dissimilar Paths</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Addressing Security in a Cross&#45;Layer Composition Architecture<br/>M. Becke</em>, D. Hoffstadt, E. Rathgeb, K. Campowsky, C. Henke, J.Müller, T. Magedanz, C. Schmoll, T. Zseby,
                                    <br/>A. Ali Siddiqui, P.l Müller
                                    <br/><em class="kursiv">10th Würzburg Workshop on IP: Joint ITG, ITC, and Euro&#45;NF Workshop</em>
                                    <br/>Würzburg, Germany, August 2010</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• A Demonstrator for Cross&#45;Layer Composition<br/>M. Becke</em>, D. Hoffstadt, I. Simsek, E. Rathgeb, K. Campowsky, C. Henke, J. Müller, T. Magedanz, C. Schmoll, T. Zseby, A. Ali Siddiqui, P. Müller
                                    <br/><em class="kursiv">10th Würzburg Workshop on IP: Joint ITG, ITC, and Euro&#45;NF Workshop</em>
                                    <br/>Würzburg, Germany, August 2010
                                    <br/><a class="nonblock" href="http://dspace.icsy.de:12000/dspace/bitstream/123456789/295/1/FIS2010-G-LabDEEP.pdf" target="_blank">&gt;&gt; A Demonstrator for Cross&#45;Layer Composition</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• An Approach for Transferring an End&#45;to&#45;End Transport Service into a Functional Building Block Structure<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>, E. P. Rathgeb, C. Henke
                                    <br/><em class="kursiv">The 5th GI/ITG KuVS Workshop on Future Internet June 2010 &#45; Alcatel&#45;Lucent, Bell Labs<br/></em>Stuttgart, Germany, June 2010
                                    <br/><a class="nonblock" href="http://www.future-internet.org/files/2010/Folien/Abstract_Dreibholz2.pdf">&gt;&gt; An Approach for Transferring an End&#45;to&#45;End Transport Service into a Functional Building Block Structure</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Implementation and Evaluation of Concurrent Multipath Transfer for SCTP in the INET Framework<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>, J. Pulinthanath, E.P. Rathgeb
                                    <br/><em class="kursiv">Proceedings of the 3rd ACM/ICST OMNeT++ Workshop</em>
                                    <br/>ISBN: 78&#45;963&#45;9799&#45;87&#45;5
                                    <br/>Malaga, Spain &#45; March 2010
                                    <br/><a class="nonblock" href="http://eudl.eu/doi/10.4108/ICST.SIMUTOOLS2010.8673" target="_blank">&gt;&gt; Implementation and Evaluation of Concurrent Multipath Transfer for SCTP in the INET Framework</a></p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
            <!-- /m_editable -->

            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_standardi_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_standardi_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Standardization and technical reports</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_standardi_text">
                            <p class="cads_flie-text">

                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Enhancement of the TCP Module in the OMNeT++/INET Framework <br/></em>T. Reschka and T. Dreibholz and M. Becke and J. Pulinthanath and E.P. Rathgeb
                                    <br/>Proceedings of the 3rd ACM/ICST OMNeT++ Workshop March2010
                                    <br/>Spain, Malaga 2010
                                    <br/><a class="nonblock" href="http://www.tdr.wiwi.uni-due.de/fileadmin/fileupload/I-TDR/SCTP/Paper/OMNeT__Workshop2010-TCP.pdf" target="_blank">&gt;&gt; Enhancement of the TCP Module in the OMNeT++/INET Framework</a></p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Erfahrungsbericht: Zur Organisation und Implementierung PC&#45;gestützter Prüfungen <br/>an der Universität Duisburg&#45;Essen <br/></em>D. Biella, D. Huth, M. Striewe, M. Kohnen, T. Dreibholz, and M. Becke
                                    <br/>Proceedings of &quot;E&#45;Teaching.org&quot;
                                    <br/>Germany, March 2010
                                    <br/><a class="nonblock" href="http://www.e-teaching.org/praxis/erfahrungsberichte/pc_pruefungen_uni_due" target="_blank">&gt;&gt; Erfahrungsbericht: Zur Organisation und Implementierung PC&#45;gestützter Prüfungen <br/>an der Universität Duisburg&#45;Essen</a></p>
                                <!-- /m_editable -->

                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• draft&#45;tuexen&#45;tsvwg&#45;sctp&#45;multipath</em>
                                    <br/>Load Sharing for the Stream Control Transmission Protocol</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• draft&#45;dreibholz&#45;tsvwg&#45;sctpsocket&#45;multipath</em>
                                    <br/>SCTP Socket API Extensions for Concurrent Multipath Transfer</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• draft&#45;dreibholz&#45;tsvwg&#45;sctpsocket&#45;sqinfo</em>
                                    <br/>Sender Queue Info Option for the SCTP Socket API</p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <!-- talks -->
            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_talks_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_talks_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Talks</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_talks_text">
                            <p class="cads_flie-text">
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Simultaneous Multipath Transfer using the Transport Layer</em>
                                    <br/>Institut für Experimentelle Mathematik
                                    <br/>29.04.2010 in Essen, Germany</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• OMNet++ External Interface </em>
                                    <br/>G&#45;Lab Experimental Facility Worshop März 2010
                                    <br/>24.&#45;26.03.2010 in Kaiserslautern, Germany</p>
                                <p class="Aufzaehlung"><a class="nonblock" href="https://www.german-lab.de/wiki/facility/workshop" target="_blank">&gt;&gt; OMNet++ External Interface</a></p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <!-- Demos -->
            <table class="cads_full_sized">
                <tr class="cads_space_header cads_full_sized">
                    <td class="cads_full_sized">

                        <div class="cads_no_decoration">
                            <a href="javascript:{$('#cads_poster_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_poster_text').offset().top)-200},500);});}; void(0);">
                                <div class="cads_full_sized">Demos/ Poster</div>
                            </a>
                        </div>

                    </td>
                </tr>
            </table>

            <table class="">
                <tr>
                    <td class="">
                        <div class="cads_goals_text" id="cads_poster_text">
                            <p class="cads_flie-text">

                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Requirements&#45;oriented Path Selection for Multipath Transmission<br/>M. Becke</em>, H. Adhari (University of Duisburg&#45;Essen)
                                    <br/>Thomas Volkert, Florian Liers (TU Ilmenau)
                                    <br/><em class="kursiv">ITG and Euro&#45;NF workshop on &quot;Visions of Future Generation Networks&quot; (EuroView2012)<br/></em>Würzburg, Germany, August 2012</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• DiSSOmniaG &#45; Distributed Simulation Service with OMNeT++ and Git</em>
                                    <br/>S. Wallat, M. Becke
                                    <br/><em class="kursiv">ITG and Euro&#45;NF workshop on &quot;Visions of Future Generation Networks&quot; (EuroView2012)<br/></em>Würzburg, Germany, August 2012</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Cross&#45;Layer Security and Functional Composition for a Future Internet<br/></em>M. Kleis, A. Siddiqui, I. Simsek, <em class="bold">M. Becke</em>, D. Hoffstadt, A. Marold, C. Henke,J. Müller, C. Varas, T. Magedanz, P. Müller, E.Rathgeb
                                    <br/><em class="kursiv">Demo presentation G&#45;Lab status seminar / Joint ITG workshop on &quot;Visions of Future Generation Networks&quot; (EuroView2011)<br/></em>Würzburg, Germany, August 2011</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• Multi&#45;Path Transport<br/>M. Becke</em>, T. Dreibholz
                                    <br/><em class="kursiv">Poster presentation at the 1st DFG/NSF Doctoral Consortium</em>
                                    <br/>San Juan/Puerto Rico, March 2011</p>
                                <p class="Aufzaehlung">&nbsp;</p>
                                <p class="Aufzaehlung"><em class="bold">• The RSPLIB Project &#45; From Research to Application<br/></em>T. Dreibholz, <em class="bold">M. Becke</em>
                                    <br/><em class="kursiv">Demo Presentation at the IEEE Global Communications Conference (GLOBECOM)</em>
                                    <br/>Miami, Florida/U.S.A, December 2010</p>

                                <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <div class="hidden-xs col-xs-2">

            </div>
        </div>