<div class="row">
<div class="col-xs-2">
</div>
<div class="col-xs-8 cads_bodytext">
<!--------------------------------- Output ------------------------------------>
    <br/><br/>
    
    <h2 class="cads_headline_h2">CaDS at the Hamburg&nbsp;University of Applied&nbsp;Scienes</h2>
    <br/>
    <p class="cads_flie-text">
    The group communication and distributed systems (AG CaDS) faces the challenges of today’s networks. <br/>Smart infrastructure for smart systems! <br/> 
    <br/> 
    </p> 
    
    <div class="row hidden-xs cads_space_creator">
    </div>
    <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">
                
                <div class="cads_no_decoration">
                <a href="javascript:{$('#cads_goals_text').toggle();}; void(0);">
                   <div class="cads_full_sized">GOALS</div></a>
                </div>
            
            </td>
        </tr>
        </table>
        <br/>
        <table class="cads_full_sized">
        <tr>
            <td class="">
            <div class="cads_goals_text" id="cads_goals_text">
          
            <p class="cads_flie-text">We focus on four major goals:<br/><br/></p>
            <div class="container cads_goals_format">
            <ul>
                <li>Improve and extend current Internet technology</li>
                    <ul>
                       <li>Real implmentations</li>
                       <li>Real setups</li>
                       <li>Practical solutions </li>
                    </ul>
                <li>Support dialogue for the future principles on the Internet
                    <ul>
                       <li>Open platform</li>
                       <li>Open standards</li>
                       <li>Free access</li>
                    </ul>
                </li>
                <li>Improve student training for smart systems</li>
                    <ul>
                        <li>Programming skills</li>
                        <li>Network and protocol diagnostic</li>
                        <li>Smart students for smart systems</li>
                    </ul>
                <li>Initiate cooperation to create smart infrastructure</li>
            </ul>
            </div>
            <p class="cads_flie-text">
                <br/>
                More information about the goals: 
                <a class="nonblock" href="CADS-Position-Digitalisierung.pdf" target="_blank">Positionspapier Digitalisierung (german)</a>
            </p>
            <br/><br/>
            </div>
            </td>
            </tr>
        </table>
        <br/>
        <table class="cads_full_sized">    
            <tr class="cads_space_header">
            <td>
            <div class="cads_no_decoration">
                <a href="javascript:{$('#cads_member_text').toggle();}; void(0);">
                <div class="cads_full_sized">MEMBERS</div></a>
            </div>
            </td>
        </tr>
        </table>
        <br/>
        <table class="cads_full_sized">
        <tr>
            <td class="cads_bodytext">
            <div class="container cads_goals_text " id="cads_member_text">
        
                
                <br/>    
                <h3 class="cads_headline_h3">    
                Active Member<br/> 
                </h3> 
                <br/>
               <h3 class="cads_headline_h4">     
                Head of Group:<br/> Prof.&nbsp;Dr.&nbsp;Martin Becke   
                </h3>
                 <br/>
                <table class="cads_center">
                    <td>
                <img class="img-thumbnail" src="images/me_small_extra.jpg" alt="Martin Becke 2015" width="64px" height="95px"  data-muse-uid="U378" data-muse-src="images/me_small_extra.jpg"/>
                 <br/>2015
                        </td> <td>
                 <img class="img-thumbnail" src="images/me2016.png" alt="Martin Becke 2016" width="68px" height="05px"  data-muse-uid="U378" data-muse-src="images/me2016.png"/>
                 <br/>2016
                    </td>
                </table>
                <br/>
                <br/> 
               
                <table class="cads_flie-text table">
                    <tbody>
                     <tr>    
                        <td> Hauke Buhr </td>
                        <td> (Delay sensitive multipath transfer)</td>
                        <td> Project Support BWFG Hamburg LFF-OS 40-2015</td>
                     </tr>    
                    <tr>
                        <td> Mikko Eberhardt </td>
                        <td> (Transport protocol testing with packetdrill)</td>
                        <td>Student</td>
                    </tr>
                    <tr>
                        <td>  Lukas Kozlowski </td>
                        <td>  (Distributed systems and big data) </td>
                        <td>Student</td>
                    </tr>
                    <tr>
                        <td>  Dennis Kirsch</td>
                        <td>  (Realtime infrastructure for sensor networks) </td>
                        <td>Student</td>                
                    </tr>
                    <tr>
                        <td> Denis Lugowski </td>
                        <td>  (Delay sensitive congestion control) </td>
                        <td>Student</td>                
                    </tr>
                    <tr>
                        <td> Philipp Proegel </td>
                        <td>  (Service composition) </td>
                        <td>Student</td>                
                    </tr>
                    <tr>
                        <td> Vincent Roederer </td>
                        <td>  (Peer-assisted content distribution with WebRTC)</td>
                        <td>Student</td>                
                    </tr>
                    <tr>
                        <td>Daniel Sarnow  </td>
                        <td> (FreeBSD kernel improvements for SCTP )   </td>
                        <td>Student</td>                
                    </tr>
                    </tbody>
                </table>
        
                <br/> 
                <br/> 
                <h3 class="cads_headline_h3">   
                Alumni   
                </h3> 
                <br/>
                <p class="cads_flie-text"> 
                Alexander Matthias Sowitzki (XMPP and house automation -> next: living place research team at HAW) 
                </p>
            <br/><br/>
            </div>  
            </td>
        </tr>
    </table>
    
    <cads_tag-menu-entry-site name="cads_member_menu_test" entry="Hallo" toHide="cads_member_test"></cads_tag-menu-entry-site>
      <table class="cads_full_sized">
        <tr>
            <td class="cads_bodytext">
            <div class="container cads_goals_text cads_hide" id="cads_member_test">
            TestText
            </div>
            </td>
        </tr>
        </table>
<!--------------------------------- Output ------------------------------------>
</div>

<div class="hidden-xs col-xs-2">

</div>
</div>
