

<div class="row">

<div class="col-xs-2">
</div>

<div class="col-xs-6 cads_bodytext">
    <br/>
    <h1 class="cads_headline_h2">Communication and distributed&nbsp;systems at the HAW&nbsp;Hamburg</h1>
    <br/>
    <p class="cads_flie-text">The „Communication and Distributed System“ (CaDS) group is part of the Department Informatik at the Hamburg University of Applied Sciences (HAW Hamburg). The research objectives include in general networking tasks, distributed systems, and (embedded) system design with applications in wired and wireless networks.
    Currently the group has a special interest on transport protocols like TCP and SCTP and web real&#45;time communication protocols like WebRTC.
    The CaDS group&nbsp; is always looking for motivated students who are interested in the challenges of the future Internet.</p>
    <br/>
    <br/>
    <p class="cads_flie-text">"We don’t build the systems, we provide a infrastructure to connect and deploy them."</p>
    <br/>
    <br/>
    <p class="cads_flie-text">Read more about our   <a href="about.html">goals</a>...</p>     
    <br/>
    <br/>
    <p class="cads_normal_text cads_greeting">Let's communicate…</p>
</div>

<div class="hidden-xs hidden-sd  col-xs-2 ">
     <div class="verticalspacer"></div>
        <br/>
    <div  class="cads_twitter_frame_space">
          <br/>
            <br/>
        <div class="cads_facebook">
        <p>
        <a href="https://www.facebook.com/CADS.HAW.HAMBURG" target="_blank">
             &nbsp;<img src="images/facebook.png" alt="" width="30" height="30" margin-right="30px"/> &nbsp;&nbsp;CaDS&nbsp;on&nbsp;Facebook&nbsp;  &nbsp; 
        </a>
        </p>

        </div>
                <br/>
                  <br/>
        <a id="twitter-wjs" class="twitter-timeline"  href="https://twitter.com/CADS_HAW" data-widget-id="568560553782558720">Tweets von @CADS_HAW </a>
    </div>    
</div>
<div class="hidden-xs col-xs-2">

</div>
</div>

