<div class="navbar navbar-fixed-bottom cads_footer_text">
    
    <div id="cads_toggle_footer">

        <div class="container-fluid ">
            <div class="">
                <div>
                    <p>&nbsp;</p>
                    <p><span class="cads_footer_bold">CaDS</span> · communication and distributed systems</p>
                    <p>&nbsp;</p>
                    <p class="cads_footer_bold">CONTACT</p>
                    <p>Prof. Dr. Martin Becke</p>
                    <p>Room 7.85&nbsp; ·&nbsp; Berliner Tor 7</p>
                    <p>20099 Hamburg&nbsp; ·&nbsp; Germany</p>
                </div>
                <div class="cads_footer_contact_menu">
                    <a href="mailto:Martin%20Becke%20%3CMartin.Becke@HAW-Hamburg.de%3E">
                        <!-- image -->
                        <img src="../images/contact.png" alt="" width="40" height="40" />
                    </a>
                    &nbsp;
                    <a href="https://www.facebook.com/CADS.HAW.HAMBURG" target="_blank">
                        <!-- image -->
                        <img src="../images/facebook.png" alt="" width="40" height="40" />
                    </a>
                    &nbsp;
                    <a href="https://twitter.com/CADS_HAW" target="_blank">
                        <!-- image -->
                        <img src="../images/twitter.png" alt="" width="40" height="40" />
                    </a>
                </div>
            </div>
            <div class="cads_footer_impressum">
                <a routerLink="impressum" href="/#/impressum">Impressum</a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</div>

<div class="navbar navbar-fixed-bottom cads_footer_text_down">

    <div id="cads_toggle_footer_hide" class="cads_footer_contact_me cads_footer_bold">
        <br/>
        <a href="javascript:{$('#cads_toggle_footer').toggle(10,function(){$('#cads_toggle_footer_hide').toggle();$('#cads_toggle_footer_visible').toggle();});}; void(0);">HIDE CONTACT INFO</a>
    </div>
    <div id="cads_toggle_footer_visible" class="cads_footer_contact_me cads_footer_bold">
        <br/>
        <a href="javascript:{$('#cads_toggle_footer').toggle(500,function(){$('#cads_toggle_footer_hide').toggle();$('#cads_toggle_footer_visible').toggle();});}; void(0);">CONTACT</a>
    </div>
</div>