<div class="row">
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8 cads_bodytext">

        <h1 class="cads_headline_h2">Informationen für Studenten</h1> (deutsch)
        <br/>
        <br/>
        <table class="cads_full_sized">
            <tr class="cads_space_header cads_full_sized">
                <td class="cads_full_sized">

                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_unterlagen_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_unterlagen_text').offset().top)-200},500);});}; void(0);">
                            <div class="cads_full_sized">Informationen für Studenten</div>
                        </a>
                    </div>

                </td>
            </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class="">
                    <div class="cads_goals_text" id="cads_unterlagen_text">
                        <p class="cads_flie-text">
                            <p class="cads_flie-text">
                                Alle Unterlagen zu den Veranstaltungen von Prof. Dr. Martin Becke finden Sie auf
                                <a class="nonblock" href="http://www.elearning.haw-hamburg.de/" target="_blank">EMIL</a>, der E-Learning Plattform der HAW Hamburg.
                            </p>
                            <br/>
                            <p class="cads_flie-text">
                                Veranstaltungen f&uuml;r SS2015 finden Sie
                                <a class="nonblock" href="http://www.elearning.haw-hamburg.de/course/search.php?search=Martin+Becke+2015" target="_blank">hier</a>!
                            </p>
                            <br/>
                            <p class="cads_flie-text">Veranstaltungen f&uuml;r WS2015/16 finden Sie <a class="nonblock" href="http://www.elearning.haw-hamburg.de/course/search.php?search=BCK+w15" target="_blank">hier</a>!</p>
                            <br/>
                            <p class="cads_flie-text">Veranstaltungen f&uuml;r SS2016 finden Sie <a class="nonblock" href="http://www.elearning.haw-hamburg.de/course/search.php?search=BCK+16" target="_blank">hier</a>!</p>
                            <br/>
                            <p class="cads_flie-text">Veranstaltungen f&uuml;r WS2016/17 finden Sie <a class="nonblock" href="http://www.elearning.haw-hamburg.de/course/search.php?search=BCK+w16" target="_blank">hier</a>!</p>
                            <br/>
                            <p class="cads_flie-text">Veranstaltungen f&uuml;r SS2017 finden Sie <a class="nonblock" href="http://www.elearning.haw-hamburg.de/course/search.php?search=BCK+17" target="_blank">hier</a>!</p>
                            <br/>
                            <br/>

                            <p class="cads_flie-text">Wichtig: Der Schl&uuml;ssel f&uuml;r die Einschreibung wird erst in der ersten Vorlesungseinheit bekannt gegeben.</p>

                            <br/>
                            <br/>
                    </div>
                </td>
            </tr>
        </table>

        <table class="cads_full_sized">
            <tr class="cads_space_header cads_full_sized">
                <td class="cads_full_sized">

                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_arbeiten_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_arbeiten_text').offset().top)-200},500);});};void(0);">
                            <div class="cads_full_sized">Studentische Arbeiten</div>
                        </a>
                    </div>

                </td>
            </tr>
        </table>

        <table class="">
            <tr>
                <td class="">
                    <div class="cads_goals_text" id="cads_arbeiten_text">
                        <p class="cads_flie-text">
                            <br/>
                            <br/>
                            <p class="cads_flie-text">
                                Alle Ideen für studentische Arbeiten werden bei
                                <a class="nonblock" href="https://www.facebook.com/CADS.HAW.HAMBURG/notes" target="_blank">Facebook unter Notizen</a> ver&ouml;ffentlicht.
                            </p>
                            <p class="cads_flie-text">Nat&uuml;rlich k&ouml;nnen Sie uns auch gerne direkt ansprechen. Eine aktuelle Liste findet man hier:
                                <a class="nonblock" href="https://www.facebook.com/notes/cads-haw-hamburg/current-topics-ba-and-ma-ss2016/1562156944083625" target="_blank">Liste</a>
                            </p>

                            <p class="cads_flie-text">Bemerkung: Die Anzahl der Studenten, die ich bei Abschlussarbeiten betreue, ist beschränkt. Leider kann ich daher nicht jeder Anfrage entsprechen. Die Beschränkung ist notwendig, um eine gleichbleibende Qualität bei der Betreuung zu erreichen!
                            </p>

                            <p class="cads_flie-text">&nbsp;</p>
                            <p class="cads_flie-text">Let's communicate…</p>
                            <br/>
                            <br/>
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <div class="hidden-xs col-xs-2">

    </div>
</div>