<div class="row">
<div class="col-xs-2">
</div>

<div class="col-xs-8 cads_bodytext">
<br/>
    <h1 class="cads_headline_h2">Find us...</h1>
    <br/>
     <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_address_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_address_text').offset().top)-300},500);});};void(0);">
                        <div class="cads_full_sized">Address</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

       
                     <div class="cads_goals_text" id="cads_address_text">
                       
    
      <h1 class="cads_headline_h2"></h1>

      <p class="cads_flie-text" id="u358-5"><em class="bold">CADS &#45; Communication and distributed systems</em></p><br/>
      <p class="cads_flie-text"><em class="bold">Department Informatik</em></p><br/>
      <p class="cads_flie-text"><em class="bold">HAW Hamburg </em></p><br/>
      <p class="cads_flie-text">&nbsp;</p><br/>
      <p class="cads_flie-text"><em class="bold">Prof. Dr. Martin Becke&nbsp; </em></p><br/>
      <p class="cads_flie-text">Room 7.85</p><br/>
      <p class="cads_flie-text">Berliner Tor 7</p><br/>
      <p class="cads_flie-text">D&#45;20099 Hamburg</p><br/>
      <p class="cads_flie-text">&nbsp;</p><br/>
      <p class="cads_flie-text">Phone HAW&nbsp;&nbsp; : +49&#45;40&#45;42875&#45;8104</p><br/>
      <p class="cads_flie-text">Fax HAW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : +49&#45;40&#45;42875&#45;8309</p><br/>
      <p class="cads_flie-text Text-Link_black_underline"><a class="nonblock" href="mailto:Martin.Becke@haw-hamburg.de">E&#45;Mail HAW&nbsp;&nbsp; : Martin.Becke@haw&#45;hamburg.de</a></p><br/>
      <p class="cads_flie-text">Skype Phone : +49&#45;5465&#45;3093&#45;498</p><br/>
    <br/><br/>
    </div>
    
      <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_map_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_map_text').offset().top)-100},500);});}; void(0);">
                        <div class="cads_full_sized">MAP</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

       
                     <div class="cads_goals_text" id="cads_map_text">
                       
    <iframe class="actAsDiv"  width=100% frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;q=HAW%20Hamburg%2C%20Berliner%20Tor%207%2C%20Hamburg%2C%20Germany&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

        
                            
                               <br/>
                            <br/>
                    </div>
                   
                            
     <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_way_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_way_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Find the way</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_way_text">
                        <p class="cads_flie-text">
    
    
 
     <p class="Aufzaehlung">Once you arrive at <em class="bold">Hamburg Central Station</em>, you leave &quot;Hauptbahnhof Süd&quot; direction for the Underground <em class="bold">U1</em></p>
     <p class="Aufzaehlung">Take the metro in the direction <em class="bold">&quot;Ohlstedt&quot;</em> or <em class="bold">&quot;Großhansdorf&quot; </em> for &quot;Lohmühlenstrasse&quot;<br/>(that's one stop only).</p>
     <p class="Aufzaehlung">Leave at <em class="bold">Lohmühlenstrasse</em> in the driving direction of the train, go upstairs and head right. You will see a couple of high blue and brick buildings (ahead of you a &quot;Suite Hotel&quot;).</p>
     <p class="Aufzaehlung">Pass by the hotel into a little plaza between the buildings (with an iron bridge in it). Ahead of you you will see a 14&#45;story grey concrete building (the &quot;EI Hochhaus&quot;) &#45; <em class="bold">that's where we are.</em></p>
                                 <br/>
                                <br/>
                        </div>
                    </td>
                </tr>
            </table>
    
    
    
</div>

<div class="hidden-xs col-xs-2">

</div>
</div>