<div class="row">
    
    <div class="col-xs-2">
    </div>

    <div class="col-xs-8 cads_bodytext">

        <br/>
         <h1 class="cads_headline_h2">Projects</h1>
        <p class="cads_flie-text"> 
            Projects are in alphabetical order. All projects are open source. If you are interested to know about  other (industrial) projects we are/were involved please let us know...
        </p>
        <br/><br/>
<!-- CLARC  -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_iot_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_iot_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">CLARC - The IoT project</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_iot_text">
                        <p class="cads_flie-text">
                            This is a IoT project of the CaDS group. Our goal is to create a free, open source IoT platform. 
                            We address a platform outside a walled garden with easy deployment on IoT devices. 
                            Watch this video about alternative projects we want improve or extend with our work.
                        </p>       
                         <br/><br/>   
                         <iframe width=100% height=120% src="https://www.youtube.com/embed/BdKL5ah2xrE" frameborder="0" allowfullscreen></iframe> 
                
                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/Transport-Protocol/SmartChair/wiki/Chair-Assembly-Instructions" target="_blank">CLARC IoT Device</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>   
              
<!-- FREEBSD SCTP -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_sctp_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_sctp_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">FreeBSD SCTP</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_sctp_text">
                        <p class="cads_flie-text">
                        It is the reference implementation for SCTP.
                        It is portable and runs on FreeBSD/MAC-OS/Windows and in User Space (including Linux). 
                        It is full featured and offers all of the features found in the SCTP RFC's as well as some new drafts. 
                        It is actively maintained by many of the draft and RFC authors.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/sctplab/sctp-refimpl" target="_blank">FreeBSD SCTP</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
        
        
<!-- Homer -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_homer_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_homer_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Homer</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_homer_text">
                        <p class="cads_flie-text">
                        Homer Conferencing (short: Homer) is a free SIP spftphone with advanced audio and video support. 
                        The Software is available for Windows, Linux and OSX. Homer was originally developed as tool for video conferences. 
                        Over the years the functions were extended for additional application areas. Therefore, the basic functions can be separated into the following 4 areas:
                        </p>
                        <br/><br/>
                        <div class=" cads_flie-text">
                             <table class="">
                                 <tr><td class=""> </td>
                                     <td class=""> 
                                            <li> video conferencing</li>
                                            <li> streaming</li>
                                            <li> recording</li>
                                            <li> screencasting</li>
                                     </td>
                                 </tr>
                            </table>
                            <br/>
                        </div>

                        <p class="cads_flie-text">
                            It is maintained by Thomas Volkert. Our work is the extension of the network stack.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="http://www.homer-conferencing.com/en/index.html" target="_blank">Homer</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  

       
<!-- Nephila  -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_nephila_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_nephila_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Nephila (deprecated)</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_nephila_text">
                        <p class="cads_flie-text">
                        An open source framework for Websocket Communication outside the (secure) browser.
                        Project and its activity maintained by Philipp Tarasiewicz and us
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="https://github.com/justphil/nephila-websocket-client/" target="_blank">Nephila</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>   
<!-- Netperfmeter -->    
        <table class="cads_full_sized">
            <tr class="cads_space_header cads_full_sized">
                <td class="cads_full_sized">

                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_netperfmeter_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_netperfmeter_text').offset().top)-200},500);});}; void(0);">
                           <div class="cads_full_sized">Netperfmeter</div>
                        </a>
                    </div>

                </td>
            </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class="">
                    <div class="cads_goals_text" id="cads_netperfmeter_text">


                        <p class="cads_flie-text">
                             NetPerfMeter is a network performance meter for the UDP, TCP, SCTP and DCCP transport protocols over IPv4 and IPv6. 
                             It simultaneously transmits bidirectional flows to an endpoint and measures the resulting flow bandwidths and QoS. 
                             The results are written as vector and scalar files. 
                             The vector files can e.g. be used to create plots of the results. 
                             It is available on different platforms and is actively maintained by Thomas Dreibholz. 
                             Our role is testing, write extensions and general scripting.
                        </p>


                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="http://www.iem.uni-due.de/~dreibh/netperfmeter/" target="_blank">Netperfmeter</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
        
<!-- Omnet++/INET -->    
        <table class="cads_full_sized">
        <tr class="cads_space_header cads_full_sized">
            <td class="cads_full_sized">

                <div class="cads_no_decoration">
                    <a href="javascript:{$('#cads_omnet_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_omnet_text').offset().top)-200},500);});}; void(0);">
                        <div class="cads_full_sized">Omnet++/INET</div>
                    </a>
                </div>

            </td>
        </tr>
        </table>
        <br/>

        <table class="">
            <tr>
                <td class=""> 
                     <div class="cads_goals_text" id="cads_omnet_text">
                        <p class="cads_flie-text">
                        OMNeT++ is an extensible, modular, component-based C++ simulation library and framework, 
                        primarily for building network simulators. 
                        I have also worked on the SCTP Model and prepare a MPTCP Model. 
                            CaDS Group head is selected as OMNeT++/INET Component Advisor.
                        </p>

                        <p class="cads_flie-text">
                            <br/><br/>
                            More information: 
                            <a class="nonblock" href="hhttp://www.omnetpp.org/" target="_blank">Omnet++/INET</a>
                        </p>
                        <br/><br/>
                    </div>
                </td>
            </tr>
        </table>  
      
<!--></-->   
        
    </div>

    <div class="hidden-xs col-xs-2">
    </div>
</div>