<div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8 cads_bodytext">
        <!--------------------------------- Output ------------------------------------>
        <br/>
        <br/>

        <h2 class="cads_headline_h2">CaDS at the Hamburg&nbsp;University of Applied&nbsp;Scienes</h2>
        <br/>
        <p class="cads_flie-text">
            The group communication and distributed systems (AG CaDS) faces the challenges of today’s networks.
            <br/>Smart infrastructure for smart systems!
            <br/>
            <br/>
        </p>

        <div class="row hidden-xs cads_space_creator">
        </div>
        <table class="cads_full_sized">
            <tr class="cads_space_header cads_full_sized">
                <td class="cads_full_sized">

                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_goals_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_goals_text').offset().top)-200},500);});}; void(0);">
                            <div class="cads_full_sized">GOALS</div>
                        </a>
                    </div>

                </td>
            </tr>
        </table>
        <br/>
        <table class="cads_full_sized">
            <tr>
                <td class="">
                    <div class="cads_goals_text" id="cads_goals_text">

                        <p class="cads_flie-text">We focus on four major goals:
                            <br/>
                            <br/>
                        </p>
                        <div class="container cads_goals_format">
                            <ul>
                                <li>Improve and extend current Internet technology</li>
                                <ul>
                                    <li>Real implementations</li>
                                    <li>Real setups</li>
                                    <li>Practical solutions </li>
                                </ul>
                                <li>Support dialogue for the future principles on the Internet
                                    <ul>
                                        <li>Open platform</li>
                                        <li>Open standards</li>
                                        <li>Free access</li>
                                    </ul>
                                </li>
                                <li>Improve student training for smart systems</li>
                                <ul>
                                    <li>Programming skills</li>
                                    <li>Network and protocol diagnostic</li>
                                    <li>Smart students for smart systems</li>
                                </ul>
                                <li>Initiate cooperation to create smart infrastructure</li>
                            </ul>
                        </div>
                        <p class="cads_flie-text">
                            <br/> More information about the goals:
                            <a class="nonblock" href="http://scimbe.de/CADS-Position-Digitalisierung.pdf" target="_blank">Positionspapier Digitalisierung (german)</a>
                        </p>
                        <br/>
                        <br/>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <table class="cads_full_sized">
            <tr class="cads_space_header">
                <td>
                    <div class="cads_no_decoration">
                        <a href="javascript:{$('#cads_member_text').toggle(500,function(){$('html, body').animate({scrollTop: ($('#cads_member_text').offset().top)-200},500);});}; void(0);">
                            <div class="cads_full_sized">MEMBERS</div>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
        <br/>
        <table class="cads_full_sized">
            <tr>
                <td class="cads_bodytext">
                    <div class="container cads_goals_text " id="cads_member_text">

                        <br/>
                        <h3 class="cads_headline_h3">    
                Active Member<br/> 
                </h3>
                        <br/>
                        <h3 class="cads_headline_h4">     
                Head of Group:<br/> Prof.&nbsp;Dr.&nbsp;Martin Becke  <br/>
 
                </h3>
		Martin.Becke@HAW-Hamburg.de <br/> Key-Fingerprint 2797 5360 7014 789C 699A 1F9D C9E5 CF4A B066 C7AA
			<br/>
                        <br/>
 <a href="https://www.haw-hamburg.de/hochschule/beschaeftigte/detail/person/person/show/martin-becke/"> HAW hamburg Profil</a><br/>
<br/>
OE Beauftragter TI Informatik (seit 2018) <br/>
Mitglied von CS4F (Gründungsmitglied/Boardmember)  <br/>
Mitglied (Stellvertreter) für Departmentrat (seit 2021)  <br/>
Mitglied der Masterauswahlkommission (seit 2016)  <br/>
Mitglied FTZ Smart Systems (Gründungsmitglied)  <br/>
Mitglied Förderverein Elektrotechnik und Informatik der HAW Hamburg e.V. (2ter Vorsitzender (seit 2019)<br/>
Mitglied ISOC DE e.V. (seit 2015)  <br/>
Mitglied Bündnis gegen Cybermobbing e.V. (seit 2021) <br/>
Mitglied HLB (seit 2019) <br/>
 <br/> <br/>
Ehemalig: <br/>
Studiengangskoordinator "Informatik Technischer Systeme" (2017 bis 2023) <br/>
Mitglied des Fakultätsrats  (2016 bis 2021) <br/>
ISOC DE Board (2016 bis 2020) <br/>
Vorstand Smart Systems <br/>
                        <!-- table class="cads_center">
                            <td>
                                <img class="img-thumbnail" src="images/me_small_extra.jpg" alt="Martin Becke 2015" width="64px" height="95px" data-muse-uid="U378" data-muse-src="images/me_small_extra.jpg" />
                                <br/>2015
                            </td>
                            <td>
                                <img class="img-thumbnail" src="images/me2016.png" alt="Martin Becke 2016" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2016.png" />
                                <br/>2016
                            </td>
                            <td>
                                <img class="img-thumbnail" src="images/me2017.jpg" alt="Martin Becke 2017" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2017.jpg" />
                                <br/>2017
                            </td>
                            <td>
                                <img class="img-thumbnail" src="images/me2018.jpg" alt="Martin Becke 2018" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2018.jpg" />
                                <br/>2018
                            </td>
			    			<td>
                                <img class="img-thumbnail" src="images/me2019.jpg" alt="Martin Becke 2019" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2019.jpg" />
                                <br/>2019
                            </td>
                             <td>
                                <img class="img-thumbnail" src="images/me2020.jpg" alt="Martin Becke 2020" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2020.jpg" />
                                <br/>2020
                            </td>
   			    <td>
                                <img class="img-thumbnail" src="images/me2021.jpg" alt="Martin Becke 2021" width="68px" height="05px" data-muse-uid="U378" data-muse-src="images/me2021.jpg" />
                                <br/>2021
                            </td>
                        </table -->
                        <br/>
                        <br/>

                        <table class="cads_flie-text table">
                            <tbody>
                                <!-- tr> 
				     <td> Mohamed Badawi </td>
                                     <td> RTC and media</td>  
                                     <td> Student</td>    
                                </tr -->  
 								<!-- tr>
                                    <td> Stefan Belic </td>
                                    <td> Reverse Proxy und QUIC</td>
                                    <td> Student</td>
                                </tr -->
                                <tr>
                                <!-- tr>
                                    <td> Tim Alcantara Ortega </td>
                                    <td> ROS Infrastructure </td>
                                    <td> Student</td>
                                </tr -->

				<tr>
                                    <td> Michael Babic </td>
                                    <td> Transaktion </td>
                                    <td> Master</td>
                                </tr>
  				<tr>
                                    <td> Christoph Busch </td>
                                    <td> SecPro </td>
                                    <td> Master</td>
                                </tr>
				<!-- tr>
                                    <td> Bickel, Nils-Ole </td>
                                    <td> Network Time Synchronisation </td>
                                    <td> Student</td>
                                </tr -->	
                                <!-- tr>
                                    <td> Hauke Buhr </td>
                                    <td> (Delay sensitive multipath transfer)</td>
                                    <td> Project Support BWFG Hamburg LFF-OS 40-2015</td>
                                </tr -->
				 <tr>
                                    <!-- td> Max Bauer </td>
                                    <td> ROS Infrastructure </td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Marvin Butkereit </td>
                                    <td> (QUIC Feature)</td>
                                    <td> Student</td>
                                </tr -->
								<!-- tr>
								    <td>Anton Dementyev</td>
								    <td>(Runtime env. for IoT infrastructure)</td>
								    <td>Student</td>
								</tr -->
                                <!-- tr>
                                    <td> Mikko Eberhardt </td>
                                    <td> (Transport protocol testing with packetdrill)</td>
                                    <td>Student</td>
                                </tr -->
     				<tr>
                                    <td> Rene Gyetvai </td>
                                    <td> Pipelining</td>
                                    <td> Student</td>
                                </tr>
				 <!-- tr>
                                    <td> Magdalena Günther </td>
                                    <td> (TBD CPS)</td>
                                    <td>Student</td>
                                </tr -->
				<!-- tr>
                                    <td> Ahmed Husein </td>
                                    <td> TBD</td>
                                    <td>Student</td>
                                </tr -->

                                <!-- tr>
                                    <td> Frank Kindler </td>
                                    <td> Audio/Visual Communication</td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Hendrik Krause </td>
                                    <td> (Monitoring Integration)</td>
                                    <td>Student</td>
                                </tr -->
				 <!-- tr>
                                    <td> Rudolf Hecht </td>
                                    <td> TBD </td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Lukas Pascal Hettwer </td>
                                    <td> (QUIC/TCP Performance)</td>
                                    <td> Student</td>
                                </tr -->
                                <tr>
                                    <td> Milan Mertens </td>
                                    <td> ActivityPub</td>
                                    <td> Student</td>
                                </tr>
     				<tr>
                                    <td> Dominik Müller </td>
                                    <td> TBD</td>
                                    <td> Student</td>
                                </tr>
                                <tr>
                                    <td> Nguyen, Huu-Tam </td>
                                    <td> (INET) </td>
                                    <td> Student</td>
                                </tr>
				<tr>
                                    <td> Laura Jurgeneit </td>           
                                    <td> (chatbot) </td>
                                    <td> Student</td>
                                </tr>
                                <!-- tr>
                                    <td> Benjamin Reich</td>
                                    <td> (INET) </td>
                                    <td> Student</td>
                                </tr -->
                                 <!-- tr>
                                    <td> Micha Rosenbaum</td>
                                    <td> CRDT </td>
                                    <td> Student</td>
                                </tr -->
     				<tr>
                                    <td> Justin Hoffmann </td>
                                    <td> Quantensimulation INET</td>
                                    <td> Student</td>
                                </tr>
                                <!-- tr>
                                    <td> Torsten Huhn</td>
                                    <td> QUIC comparative study </td>
                                    <td> Student</td>
                                </tr -->
   								<!-- tr>
                                    <td> Artur Iablokov </td>
                                    <td> Blockchain Context</td>
                                    <td>Student</td>
                                </tr -->

                                <!-- tr>
                                    <td> Dennis Kirsch</td>
                                    <td> (Realtime infrastructure for sensor networks) </td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Sascha Knapp</td>
                                    <td> TBD </td>
                                    <td> Student</td>
                                </tr --> 
				<tr>
                                    <td> Henry Köpke</td>
                                    <td> Fault-tolerant systems</td>
                                    <td> Student</td>
                                </tr>
                                <!-- tr>
                                    <td> Denis Lugowski </td>
                                    <td> (Delay sensitive congestion control) </td>
                                    <td>Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Andreas Müller </td>
                                    <td> (JAWM - Just another WebRTC module) </td>
                                    <td>Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Michael Müller</td>
                                    <td> SDN</td>
                                    <td> Student</td>
                                </tr -->
				<!-- tr>
                                    <td> Max Neuwirt </td>
                                    <td> Distributed location with Wifi</td>
                                    <td> Student</td>
                                </tr>
                                <tr>
                                    <td> Luis Nickel </td>
                                    <td> TBD</td>
                                    <td> Student</td>
                                </tr -->
                                <tr>
                                    <td> Leo Peters </td>
                                    <td> ROS in distributed Systems</td>
                                    <td> Student</td>
                                </tr>

                                <!-- tr>
                                    <td> Vincent Roederer </td>
                                    <td> (Peer-assisted content distribution with WebRTC)</td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Dennis Schr&ouml;der </td>
                                    <td> (VS Deep Learning)</td>
                                    <td>Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Daniel Sarnow </td>
                                    <td> (FreeBSD kernel improvements for SCTP) </td>
                                    <td> Student</td>
                                </tr -->

			  	<!-- Zweitpruefer- tr>
                                    <td> Mohammad Fazel Soltani  </td>
                                    <td> (TBD) </td>
                                    <td> Student</td>
                                </tr -->

                                <!-- tr>
                                    <td> Simon Sorgenfrei </td>
                                    <td> (WebRTC congestion control) </td>
                                    <td> Student</td>
                                </tr -->
				<tr>
                                    <td> Philipp Schwarz </td>
                                    <td> (TBD) </td>
                                    <td> Student</td>
                                </tr>
                                <!-- tr>
                                    <td> Aleksandr Sultanov </td>
                                    <td> (Smart Objects und Lora) </td>
                                    <td> Student</td>
                                </tr>

			        <tr>
                                    <td> Edgar Toll </td>
                                    <td> (Cooperative Systems) </td>
                                    <td> Student</td>
                                </tr>
                                <tr>
                                    <td> Herberto Camilio Arano Werner </td>
                                    <td> PLC Connection </td>
                                    <td> Student</td>
                                </tr>
                                <tr>
                                    <td>Sebastian Wilkes </td>
                                    <td> (New directory service) </td>
                                    <td>Student</td>
                                </tr>
								<tr>
                                    <td> Mike Wüstenberg </td>
                                    <td> (Lambda Architecture) </td>
                                    <td> Student</td>
                                </tr -->
     				<tr>
                                    <td> Erik Wisgerberg </td>
                                    <td> D-Game</td>
                                    <td> Student</td>
                                </tr>
                            </tbody>
			    <tbody>
                                <!-- tr>
                                    <td> Lara Borsdorf </td>
                                    <td> Mechatronik </td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Eduard Holzmann </td>
                                    <td> Mechatronik </td>
                                    <td> Student</td>
                                </tr -->
                                <!-- tr>
                                    <td> Johannis Thomsen </td>
                                    <td> Mechatronik </td>
                                    <td> Student</td>
                                </tr -->
			    </tbody>
                        </table>

                        <br/>
                        <br/>
                        <h3 class="cads_headline_h3">   
                Alumni   
                </h3>
                       
                        <p class="cads_flie-text">
		        <br/> Tim Alcantara Ortega --> next 
			<br/> Mohamed Badawi (WebRTC) -> next: Top 500 Company
			<br/> Stefan Belic (QUIC Proxy) -> next: Ibeo Automotive
			<br/> Marvin Butkereit (QUIC) --> next: (Infrastructure) 
			<br/> Lara Borsdorf (SE Process) -> next: Hochbahn
			<br>  Hauke Buhr (IoT Platform) -> next: Fraunhofer Focus Berlin  
		        <br/> Anton Dementyev (IoT Runtime in JS) -> next: Subshell GmbH (subshell.com)
			<br/> Mikko Eberhardt (Protokoll Testing) -> next: Ibeo Automotive
			<br/> Julian Friedmann (Skalierung) --> 
			<br/> Michel Gerlach (IoT Device) -> next: Parent Time
			<br/> Eduard Holzmann (HW) --> next: Beiersdorf
			<br/> Benjamin Reich (INET) --> Bank
			<br/> Lukas Pascal Hettwer  (QUIC) --> next: https://theorg.com
			<br/> Adrian Ka¨mann (Robot) --> next: 
 			<br/> Dennis Kirsch (IoT/ Blockchain) --> next: chromaway (https://chromaway.com/)
			<br/> Henry Köpke (digitaler Zwiling) --> next: Airbus
			<br/> Sebastian Kunz (Websocket) --> 
			<br/> Linus Kurz (Sec) --> 
			<br/> Mujkanovic Marinko (Lora) --> 
			<br/> Max Neuwirt (WiFi Location) --> next: Master HAW Hamburg
			<br/> Sascha Knapp (Realtime web) --> next: Steinberg 
			<br/> Hendrik Krause (Monitoring) -> next: NDR
			<br/> Artur Iablokov (Blockchain) -> next: DPS Engineering GmbH (www.dps.de)
			<br/> Philipp Proegel (Service composition) -> next: G+J (Digital Ad Technology)
			<br/> Denis Lugowski (QUIC) --> next: ServiceXpert GmbH (www.servicexpert.de)
			<br/> Frank Matthiesen (IoT) --> next: (Master HAW Hamburg)
			<br/> Andreas Müller  (WebRTC Modul) -> next: Hagebau IT GmbH
			<br/> Vincent Roederer (WebRTC) --> next: 
			<br/> Micha Rosenbaum (CRDT) -> next: New Studies (theology)
			<br/> Daniel Sarnow (Discovery Service) -> next: Mitarbeiter HAW Hamburg
			<br/> Dennis Schr&ouml;der (CoDy) -> next: Mesaic (https://www.mesaic.co)
			<br/> Simon Sorgenfrei (SCTP/ Blockchain) --> next: chromaway (https://chromaway.com/)
			<br/> Aleksandr Sultanov (Lora) --> next:
			<br/> Leon Schwarz (Algorithmen) --> next: Asia  
			<br/> Edgar Toll (HW) --> next:
			<br/> Herberto Camilio Arano Werner (PLC) --> Master HAW Hamburg
			<br/> Sebastian Wilkes (Distributed name service for IoT) -> next: Animalpool GbR [startup]	
			<br/> Mike Wüstenberg (Lamabda) --> next: 
                        </p>
                        <br/>
                        <br/>
                    </div>
                </td>
            </tr>
        </table>

        <!--------------------------------- Output ------------------------------------>
    </div>

    <div class="hidden-xs col-xs-2">

    </div>
</div>
